<div id="headimage"><img  src="../assets/images/src/profile/myphoto.png" style="width:150px;height:auto;margin-top:30px"></div>
<div class="me">
	<div><span style="font-weight:900;font-size:30px">UI Developer</span><br><span>UI Designer with a passion for designing beautiful and functional user experiences</span></div>
	<div><span style="font-weight:900;font-size:30px">Full Stack Developer</span><br><span>Front End and Back End Developer who focuses on writing clean and efficient code</span></div>
</div>
<br>
<hr style="height:2px;solid;color:black;margin-top:20px">
<div style="text-align:center;font-size:30px;"><img src="../assets/images/src/work/gear.gif" style="width:120px;height:auto"><span style="font-size:50px">Skills</span></div>
<div style="width:80%;text-align:center;margin:0 auto;padding-top:50px">
	<div class="logo">
		<div><img src="../assets/images/src/logo/HTML5.png"><span>HTML5</span></div>
		<div><img src="../assets/images/src/logo/CSS3.png"><span>CSS3</span></div>
		<div><img src="../assets/images/src/logo/javascript.png"><span>Javascript</span></div>
		<div><img src="../assets/images/src/logo/jQuery.png"><span>jQuery</span></div><br>
		<div><img src="../assets/images/src/logo/Bootstrap.png"><span>Bootstrap</span></div>
		<div><img src="../assets/images/src/logo/angular.png"><span>AngularJs</span></div>
		<div><img src="../assets/images/src/logo/nodejs.png"><span>NodeJs</span></div>
		<div><img src="../assets/images/src/logo/sass.png"><span>Sass</span></div>
		<div><img src="../assets/images/src/logo/java.png"><span>Java</span></div><br>
		<div><img src="../assets/images/src/logo/Bower.png"><span>Bower</span></div>
		<div><img src="../assets/images/src/logo/grunt.png"><span>Grunt</span></div>
		<div><img src="../assets/images/src/logo/git.png"><span>Git</span></div>
	</div>
</div>
<hr style="height:2px;solid;color:black">